<section>
  <header
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="24px"
    fxFill
  >
    <h2 fxFlex="initial">List of tasks</h2>
    <app-task-table-filter
      fxFlex
      (onFilterChange)="setFilter($event)"
    ></app-task-table-filter>
  </header>

  <app-task-table
    [tableData]="tasksData"
    [filterValue]="filterValue"
    (onEditTask)="editTask($event)"
    (onDeleteTask)="deleteTask($event)"
  ></app-task-table>
</section>

<ng-template #actionsRef>

  <a
    mat-raised-button
    [routerLink]="['/tasks/create']"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Add task icon"
    >add</mat-icon>
    Create new Task
  </a>

</ng-template>