table {
  width: 100%;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.mat-row:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.mat-column-name {
  width: 50%;
}

.mat-column-type {
  width: 35%;
}

.mat-column-actions {
  width: 35%;
  min-width: 100px;
}

h2 {
  margin: 0;
}